header .header-logo--contenedor {
  width: 100%;
  height: 20vh;
  display: flex;
}

header .header-logo--contenedor img {
  width: 80%;
  margin: auto;
}

header .header-separador {
  width: 100%;
  border-top: 1px solid #dbdbdb;
  max-width: 500px;
}


/*Menu NAVEGACION*/
header .header-menu-navegacion {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0 , 0, 0, 0.6);
}


header .menu-navegacion-botones--contenedor {
  position: absolute;
  width: auto;
  top: auto;
  left: auto;
  right: 10%;
  bottom: 30%;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  background-color: white;
}

header .menu-navegacion-botones--contenedor ul {
  list-style: none;
}

header .menu-navegacion-botones--contenedor ul li {
  font-weight: 400;
  border-top: 1px solid #f1f1f1;
  font-size: 1.6rem;
}

header .menu-navegacion-botones--contenedor ul li a {
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 10px 80px 10px 10px;
}

/*MENU BOTON*/
header .header-menu-navegacion--contenedor .header-menu-boton--contenedor {
  width: 100%;
  height: 100vh;
}

header .header-menu-boton--contenedor img {
  position: fixed;
  width: 60px;
  left: auto;
  top: auto;
  bottom: 15%;
  right: 10%;
}

#holis:checked ~ .header-menu-navegacion {
  display: block;
}

header .boton-menu-abierto img {
  position: fixed;
  width: 60px;
  left: auto;
  top: auto;
  bottom: 15%;
  right: 10%;
}

#holis {
  display: none;
}